{% extends "base/base.html" %}
{% load static %}


{% block title %} HOME {% endblock  %}

{% block extra_style %}

{% endblock %} 

{% block content %}

    <section class="hero-section d-flex justify-content-center align-items-center home-container" id="home">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 mx-auto">
                    <div class="logo-center">
                        <img class="__logo-img" src="{% static "logo.png" %}" alt="logo">
                    </div>
                    <h1 class="text-black text-center">Message Request Manager</h1>

                    <form method="post" class="custom-form mt-4 pt-3 mb-lg-0 mb-5" role="search">
                        {% csrf_token %}
                        <div class="input-group input-group-lg p30">
                            <input name="request_id" type="search" class="form-control text-center" id="searchbarsection" placeholder="Search By Request Id" aria-label="Search">
                            <button type="submit" class="custom-btn"><i class="fa fa-search" aria-hidden="true"> Search</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>            
            <div class="mt-4 d-flex justify-content-center">
                <a class="me-3 custom-btn" href="{% url "list_targeting:list_targeting" %}">List Targeting</a>
                <a class="custom-btn" href="{% url "list_targeting:criteria_targeting" %}">Criteria Targeting</a>
            </div>
        </div>
    </section>

{% endblock %}

{% block extra_script %}
<script>
    $(document).ready(function(){
        // Add active class to the first nav-link
        $(".navbar-nav .nav-item:first-child .nav-link").addClass("active");
    });
</script>

{% endblock  %}