{% extends "base/base.html" %}

{% block title %} List Targeting {% endblock  %}
{% block content %}

    <section class="hero-section container">

   {% if messages %}
    {% for message in messages %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}




        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row mt-2 p-3">
                <h3 class="text-center">List Targeting</h3>
                <div class="col-lg-6 p-3">

                    <div class="bg-diff _psection01" enctype="multipart/form-data">
                            <div class="form-group mb-3">
                                <label for="requestID">MRM Request ID</label>
                                <input type="text" class="form-control" id="requestID" name="requestID" placeholder="123456">
                            </div>
                            <div class="form-group mb-3">
                                <label for="csvUpload">Upload CSV</label>
                                <input type="file" class="form-control form-control-file" id="csvUpload" onchange="handleFile();" name="csvUpload">
                                <span class="badge badge-success" style="color:black;" id="span_csvUpload"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label for="startDate">Start Date</label>
                                <input type="text" name="startDate" class="form-control datepicker" placeholder="mm/dd/yyyy">
                            </div>
                            
                            <div class="form-group mb-3">
                                <label for="endDate">End Date</label>
                                <input type="text" name="endDate" class="form-control datepicker" placeholder="mm/dd/yyyy">
                            </div>
                            <div class="form-group mb-3">
                                <label for="customerType">Request Type</label>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="gra" name="customerType" class="custom-control-input" value="GRA">
                                            <label class="custom-control-label" for="gra">GRA</label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="marketing" name="customerType" class="custom-control-input" value="Marketing">
                                            <label class="custom-control-label" for="marketing">Marketing</label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customer" name="customerType" class="custom-control-input" value="Customer">
                                            <label class="custom-control-label" for="customer">Customer</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                </div>
                <div class="col-lg-6 p-3">
                    <div class="bg-diff">
                        <div id="radio-container" class="row media-selection mb-5" >
                            <p class="text-center">Media Selection </p>
                            <div class="col-6">
                                <div class="d-flex justify-content-center">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" name="radio__pdf" type="radio" name="radio__pdf" id="radio__pdf">
                                        <label class="form-check-label" for="radio__pdf">
                                            PDF
                                        </label>
                                    </div>
                                </div>                           
                            </div>
                            <div class="col-6">
                                <div class="d-flex justify-content-center">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="radio__billmessage" id="radio__billmessage">
                                        <label class="form-check-label" for="radio__billmessage">
                                            Bill Message
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div id="upload-section">

                                <div class="col-12">
                                    <div class="media-selection media-selection-2">
                                        <p class="text-center">Upload</p>
                                        <div class="form-group mb-2">
                                            <label for="printedPdf">Printed PDF</label>
                                            <input type="file" name="printedPdf" class="form-control form-control-file" id="printedPdf">
                                        </div>   
                                        
                                        <div class="form-group mb-2">
                                            <label for="eBillPdf">EBill PDF</label>
                                            <input type="file" name="eBillPdf" class="form-control form-control-file" id="eBillPdf">
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div id="bill-message">                            
                                <div class="col-12">
                                    <div class="media-selection media-selection-2">
                                        <p class="text-center">Bill Message</p>
                                        <div class="form-group mb-2">
                                            <label for=""></label>
                                            <textarea name="bill_message" class="form-control" placeholder="Enter bill message here" rows=4></textarea>                               
                                        </div>   
                                        <div class="form-group mb-2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button class="me-3 custom-btn" type="submit" name="action" value="save">Save</button>
                <button class="me-3 custom-btn" type="submit" name="action" value="submit">Submit</button>
            </div>
        </form>

    </section>

{% endblock  %}

{% block extra_script %}

<script>

    $(document).ready(function () {
        $('.datepicker').datepicker({
            format: 'mm-dd-yyyy',  // Set the desired format
            autoclose: true
        });
        $(".navbar-nav .nav-item:nth-child(2) .nav-link").addClass("active");
    });

    

            
    function handleFile() {

        console.log('handleFile called');
        const input = document.getElementById('csvUpload');
        const file = input.files[0];
        const spanText = document.getElementById('span_csvUpload');

        if (file) {
            const fileName = file.name;
            const fileType = fileName.split('.').pop().toLowerCase();

            if (fileType === 'csv') {
                // File is CSV, proceed with calculating the number of rows
                const reader = new FileReader();

                reader.onload = function (e) {
                    const content = e.target.result;
                    const rows = content.split('\n').length - 1;

                    // Display the number of rows
                    spanText.innerHTML = `${rows} customer accounts loaded successfully`;
                };

                reader.readAsText(file);
            } else {
                spanText.innerHTML = 'Please upload a CSV file.';
            }
        }
    }


    document.addEventListener('DOMContentLoaded', function () {
        
        // Get radio buttons and sections
        const pdfRadio = document.getElementById('radio__pdf');
        const billMessageRadio = document.getElementById('radio__billmessage');
        const uploadSection = document.getElementById('upload-section');
        const billMessageSection = document.getElementById('bill-message');
        billMessageSection.style.display = 'none';
        pdfRadio.checked = true

        // Function to show/hide sections based on radio selection
        function handleRadioSelection() {
            if (pdfRadio.checked) {
                uploadSection.style.display = 'block';
                billMessageSection.style.display = 'none';
            } else if (billMessageRadio.checked) {
                uploadSection.style.display = 'none';
                billMessageSection.style.display = 'block';
            }
        }

        // Function to handle radio button click and validate only one radio is checked
        function handleRadioClick(event) {
            if (event.target.type === 'radio') {
                pdfRadio.checked = (event.target.id === 'radio__pdf');
                billMessageRadio.checked = (event.target.id === 'radio__billmessage');
                handleRadioSelection();
            }
        }

        // Attach event listeners to radio buttons
        pdfRadio.addEventListener('change', handleRadioSelection);
        billMessageRadio.addEventListener('change', handleRadioSelection);

        // Attach event listener to container to handle radio button clicks and validate only one is checked
        document.getElementById('radio-container').addEventListener('click', handleRadioClick);
    });
</script>

{% endblock  %}